*{margin: 0; padding: 0;}
ul{list-style: none;}
a:link , a:visited{text-decoration: none; color: #333;}  

.wrap .section{position: relative;}
/* .wrap .section:nth-child(1){} */
/* .wrap .section:nth-child(1) p {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #b7d789;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font: bold 32px serif;
    text-align: center;
    box-sizing: border-box;
    padding-top: calc(10% - 10%);
} */
.wrap .section:nth-child(1) .vid{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
}
.wrap .section:nth-child(1) video{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    object-fit: cover;
}


.wrap .section:nth-child(1) p{
    position: absolute;
    width: 20%;
    font: bold  80px serif;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    z-index: 4  ;
}
.wrap .section:nth-child(1) .name p{
    position: absolute;
    width: 55%;
    font: bold  80px serif;
    color: white;
    top: 40%;
    left: 50%;
    transform: translate(-30% ,-50%);
    z-index: 4  ;
}
/* .wrap .section:nth-child(1) p:nth-child(2){
    position: absolute;
    width: 23%;
    font: bold  80px serif;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    z-index: 4  ;
} */
/* .wrap .section:nth-child(2) .vid{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
}
.wrap .section:nth-child(2) video{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    object-fit: cover;
}
.wrap .section:nth-child(2) p{
    position: absolute;
    width: 23%;
    font: bold  80px serif;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-45% ,-50%);
    z-index: 4  ;
} */
.wrap .section:nth-child(2){background-color: #c4c4c4;}
.wrap .section:nth-child(3){background-color: #c4c4c4;}
.wrap .section:nth-child(4){background-color: #c4c4c4;}
.wrap .section:nth-child(5){background-color: #c4c4c4;}
.wrap .section:nth-child(6){background-color: #c4c4c4;}

/* .wrap .section:nth-child(2) .slide{
    position: relative;
}
.wrap .section:nth-child(2) .slide ul{
    position: absolute;
    width: 90%;
    background: white;
    z-index: 6;
    left: 50%;
    top: 52%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-wrap: wrap;
    
}
.wrap .section:nth-child(2) .slide li{
    flex: 0 1 30%;
    font: bold 30px serif;
    color: white;
    padding-right: 3%;
    
}
.wrap .section:nth-child(2) .slide img{
    width: 100%;
 
} */
/* .wrap .section:nth-child(2) .slide iframe{
    width: 100%;
    height: 50vh;
} */
.wrap .section:nth-child(2) .image{
    width: 90%;
}
.wrap .section:nth-child(2) .image img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 20px;
    left: 0;
}

nav{
    position: fixed;
    width: 100%;
    background: black;
    z-index: 10;
}

nav ul{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
}
nav li{
    flex:  0 1 15%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

nav li a:link , nav li a:visited{
    color: white;
    font-size: 14px; 
    text-transform: uppercase;   
}
.wrap .section:nth-child(3) .slide{
    position: relative;
}
.wrap .section:nth-child(3) .slide ul{
    position: absolute;
    width: 90%;
    height: 50%;
    background: white;
    z-index: 6;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    /* margin-top: 3%; */
}

.wrap .section:nth-child(3) .slide li{
   
    flex: 0 1 45%;
    color: white;
    padding:3%;
       
}
.wrap .section:nth-child(3) .slide:nth-child(2) ul{
    position: absolute;
    width: 90%;
    background: white;
    z-index: 6;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-wrap: nowrap;
   
}
.wrap .section:nth-child(3) .slide:nth-child(2) li{
    flex: 0 1 45%;
    color: white;
    /* padding:3%; */
       
}
.wrap .section:nth-child(3) .slide img{
    width: 90%;
    
}

.wrap .section:nth-child(5) .slide iframe{
    width: 100%;
    height: 40vh;
}
.wrap .section:nth-child(5) .slide ul{
    position: absolute;
    width: 90%;
    height: 50%;
    background: white;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-wrap: wrap;
   align-items: center;
    

}

.wrap .section:nth-child(5) .slide li{
    flex: 0 1 44%;
    color: white;
    padding:3%;
}
/* .wrap .section:nth-child(3) .slide:nth-child(2) img:nth-child() */





.wrap .section:nth-child(4) .slide{
    position: relative;
}
.wrap .section:nth-child(4) .slide ul{
    position: absolute;
    width: 90%;
    height: 50%;
    background: white;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    

}

.wrap .section:nth-child(4) .slide li{
    flex: 0 1 35%;
    color: white;
    padding:3%;
}

.wrap .section:nth-child(4) .slide img{
    
    width: 110%;
    
}
/*                                               */
.wrap .section:nth-child(4) .slide:nth-child(3) ul{
    position: absolute;
    width: 90%;
    background: white;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

   
}
.wrap .section:nth-child(4) .slide:nth-child(3) li{
    flex: 0 1 35%;
    color: white;
    /* padding:3%; */
       
}
.wrap .section:nth-child(4) .slide:nth-child(3) img{
    
    width: 70%;
    
}




.wrap .section:nth-child(6) p:nth-child(1){
    position: absolute;
    width: 80%;
    font: bold  80px serif;
    color: white;
    top: 30%;
    left: 50%;
    transform: translate(-30% ,-50%);
    z-index: 4  ;
}
.wrap .section:nth-child(6) p:nth-child(2){
    position: absolute;
    width: 80%;
    font: bold  50px serif;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-30% ,-50%);
    z-index: 4  ;
}